services:
  tunasync:
    image: jeffok/tunasync:latest
    container_name: tunasync
    restart: always
    volumes:
      - ./conf:/data/conf
      - ./mirrors:/data/mirrors:rw
      - ./logs:/data/logs
    ports:
      - 12345:12345
      - 6000:6000